MAINICON		ICON	DISCARDABLE	"mainicon.ico"

1	VERSIONINFO
		FILEVERSION 0,2,1,0
		PRODUCTVERSION 0,2,1,0
		FILEFLAGSMASK 0x3fL
		FILEFLAGS 0x0L
		FILEOS 0x4L
		FILETYPE 0x1L
		FILESUBTYPE 0x0L
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "000004e2"
			BEGIN
				VALUE "FileDescription", "Scripted Roulette\0"
				VALUE "FileVersion", "0.2.1\0"
				VALUE "LegalCopyright", "http://scripted-roulette.sourceforge.net\0"
				VALUE "OriginalFilename", "scripted_roulette_v021.exe\0"
				VALUE "ProductName", "Scripted Roulette\0"
				VALUE "License", "GPL v2"
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x0, 1250
		END
	END
